<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>Packt Contacts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="formAddEdit">
    <form novalidate (ngSubmit)="onSubmit(contactForm)" [formGroup]="contactForm">
      <ion-list noline>
        <ion-item>
          <ion-label floating danger>First Name</ion-label>
          <ion-input formControlName="firstname" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating danger>Last Name</ion-label>
          <ion-input formControlName="lastname" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating danger>Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button color="secondary" type="submit" [disabled]="contactForm.invalid">Save</button>
      <button ion-button color="danger" type="button" (click)="cancelForm()">Cancel</button>
    </form>
  </div>
  <ion-list *ngIf="recordsExists">
    <ion-item-sliding *ngFor="let item of values">
      <button ion-item (click)="editContact(item)">
        <h2>{{item.firstName}} {{item.lastName}}</h2>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteContact(item)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="createContact()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
